.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    /* gap: 10px 20px; <= 10px for top and bottom, 20px for left and right*/
}

.calculator__cell {
    border: 1px solid aqua;
}